.rocket-item {
  display: flex;
  flex-flow: column;

  flex-wrap: wrap;
  border: 1px black solid;
  padding: 5px;
  margin: 5px;
}
.img-item {
  display: block;
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1120px;
  width: 90%;
  margin: 0 auto;
}
